<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Cipher</title>
	<link rel="stylesheet" href="/static/css/index.css">
	<script src="/static/lib/p5/p5/p5.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src='https://cdn.plot.ly/plotly-2.2.0.min.js'></script>
</head>
<body>
	<div id="canvas">
		<script src="/static/js/class.js"></script>
        <script src="/static/js/index.js"></script>
        <!-- Main text -->
        <div id="overTheCanvas">
        	<h1 id="title">KL Algorithm</h1>
        	<hr id="title-hr">
        	<div id="chartContainer" style="height: 370px; width: 33%;"></div>
        	<script src="/static/js/graph.js"></script>
        	<center><a id="ghost-button" onclick="graphToggle()">Toggle Graph</a></center>
        </div>
    </div>
</body>
</html>