<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Mincut Visualization</title>
	<link rel="stylesheet" href="/static/css/index.css">
	<script src="/static/lib/p5/p5/p5.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
	<div id="canvas">
		<script src="/static/js/class.js"></script>
		<script src="/static/js/helpers.js"></script>
        <script src="/static/js/mincut.js"></script>
        <!-- Main text -->
        <div id="overTheCanvas">
        	<h1 id="title">Mincut Gate Placement Algorithm</h1>
        	<hr id="title-hr">
        </div>
    </div>
</body>
</html>