@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');
body, html{
    font-family: 'Gochi Hand', cursive;
    overflow:hidden;
    margin:0;
    padding:0;
}
#canvas{
    position: relative;
}
#canvas canvas, #overTheCanvas{
    position: absolute;
}
#overTheCanvas{
    width: 100%;
    height: 100%;
}
#title{
	font-family: 'Gochi Hand', cursive;
	color: black;
	font-size: 50px;
    text-align: center;
}
#title-hr{
    width: 200px;
}
#ghost-button {
    display: inline-block;
    width: 200px;
    padding: 8px;
    color: black;
    border: 1px solid #fff;
    text-align: center;
    outline: none;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.3);
    margin-top: 25vh;
}
#ghost-button:hover, #ghost-button:active {
    background-color: black;
    color: white;
}
.center-button {
    text-align: center;
}
.citation {
    position: absolute;
    left: 15px;
    bottom: 15px;
    font-size: 20px;
    font-family: 'calibri';
    font-weight: 500;
}