<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Routing Visualization</title>
	<link rel="stylesheet" href="/static/css/index.css">
	<script src="/static/lib/p5/p5/p5.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	
</head>
<body>
	<div id="canvas">
		<!-- <script src="/static/js/routingclass.js"></script>
		<script src="/static/js/helpers.js"></script> -->
        <script src="/static/js/steinerclass.js"></script>

        <script src="/static/js/steiner.js">
			var listofnodes = {{ data }}
		</script>
        <!-- Main text -->
        <div id="overTheCanvas">
        	<h1 id="title">Steiner Routing Algorithm</h1>   	
        </div>
    </div>
	<div class="citation">
		S.K.  Lim, “Practical  Problems in  VLSI Physical  Design Automation”,
		<br>
		Springer Science + Business Media B.V, Germany, (2008).
	</div>
</body>
</html>